
.box {
    border-style: double;
    width: 400px;
}

body {
    background-color: rgb(194, 223, 233);
    color: rgb(75, 4, 4);
    font-family: Sans-Serif;
    line-height: 18px;
  } 

.task {display: flex;  
    flex-direction: row;
     flex-wrap: wrap    
    } 

.force { 
    justify-content: center;
    
    flex-grow: 1;
    color: blue;

} 
.color {
    color: blue
} 

h1 { 
    color: rgb(231, 23, 16);
    
  } 

h3 {
    color: rgba(180, 39, 39, 0.651)

}
p { 
    color: rgb(255, 81, 0);
}