
<html>
  <head> 
  <link href='/public/stylesheets/sent' type="text/css" rel="stylesheet" />
  
  <link rel="stylesheet" href="/stylesheets/sent.css" /> 
  </head>
  <body>


<h1 ><%= @user.username %></h1>
<h1>You have sent <%= @messages.count %> messages</h1> 
<div class="task">
<% @messages.each do |message| %>  
<p><%= message.message %></p>
<% end %> 
</body>
