<h1>No rules, just messages</h1>
<h2>please sign up</h3> 
<%  %>
<% if session[:message] %>
<%  %>
<h1 class="red"><%= session[:message]  %></h1> 

<% end %>
<form action="/user/signup" method="POST">
  <h4>Name:
  <input type="text" name="username" id="username"><h/h4>
<br>
  <h4>email:<input type="text" name="email" id="emil"></h4>

  <h4>Password:
  <input type="password" name="password" id="password"></h4>
  <h4>Password Confirmation: 
  <input type="password" name="password_confirmation" id="password_confirmation"><h4>
  <input type="submit" value="Sign Up">
</form>
<% if session[:message] %>
<p>or <a href='/user/signin'>Sign in</a></p>
<% end %>