<!DOCTYPE html>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Self_mail</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/mail.css" />
  </head>
  <body>
    <div class="wrapper">
    <% if Helpers.is_logged_in?(session) %>  
    <% id = session["user_id"] %>
    <% x = Helpers.current_user(session) %> 
    
    <span><a href='/user/<%= id %>/sent_all' >Your messages</a> <a href='/user/<%= x.id %>/' >Your profile</a> <a href="/user/logout">log out</a></span>
    <% end %>
        <%= yield %> 
    <br>
    <% if !(Helpers.is_logged_in?(session)) %>
    <% unless @session.has_key?("page") %> 
    
        <div id="logged_out">
        <a href="/user/signin">Sign In</a> 
        <a href='/user/signup'>Sign Up</a> 
        </div>
        <% end %> 
        <% end %>
    <footer> 
     

    
      </footer>
    </div>
    <small> <strong>Write yourself a note</strong></small>
  </body>
</html>
