<!DOCTYPE html>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Altmail</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/mail.css" />
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>
        <a href="/user/signin">Sign In</a> 
        <a href='/user/signup'>Sign Up</a>
      <footer class="branding">
        <small>&copy; 2019 <strong>Send messages in a private network</strong></small>
      </footer>
    </div>
  </body>
</html>
